* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#header {
    position: sticky;
    top: 0;
    right: 0;
    margin-bottom: 1em;
}

#container-header {
    background-color: rgb(23, 22, 22);
    color: azure;
    text-align: center;
    padding: 2em;
}

#container-footer {
    background-color: rgb(23, 22, 22);
    color: azure;
    display: flex;
    justify-content: space-between;
}

#container-footer>p {
    padding: 2em;
}

#gallery {
    text-align: center;
}

#container-gallery {
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 60vw;
}

.card2 {
    box-shadow: 3px 3px 16px black;
    display: flex;
    flex-direction: column;
    width: 250px;
    height: 300px;
    border-radius: 15px;
    margin: 2em;
}

#bg-image1 {
    background-image: url('assests/Coffee.png');
    height: 30%;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 15px 15px 0 0;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: solid;
}

li a:hover {
    background-color: #111;
}
html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

.column {
    float: left;
    width: 33.3%;
    margin-bottom: 16px;
    padding: 0 8px;
}



.about-section {
    padding: 50px;
    text-align: center;
    background-color:#333;
    color: white;
}

.container {
    padding: 0 16px;
}

.container::after,
.row::after {
    content: "";
    clear: both;
    display: table;
}

.title {
    color: grey;
}

.button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
}

.button:hover {
    background-color: #555;
}
.icon-bar {
    width: 100%;
    /* Full-width */
    background-color: #555;
    /* Dark-grey background */
    overflow: auto;
    /* Overflow due to float */
}

.icon-bar a {
    float: left;
    /* Float links side by side */
    text-align: center;
    /* Center-align text */
    width: 20%;
    /* Equal width (5 icons with 20% width each = 100%) */
    padding: 12px 0;
    /* Some top and bottom padding */
    transition: all 0.3s ease;
    /* Add transition for hover effects */
    color: white;
    /* White text color */
    font-size: 36px;
    /* Increased font size */
}

.icon-bar a:hover {
    background-color: #000;
    /* Add a hover color */
}

.active {
    background-color: #04AA6D;
    /* Add an active/current color */
}


/* 
    @media screen and (max-width:1200px) {
        .card {
            width: 90vw;
        }
    }
*/  .cv-button {
      display: inline-block;
      padding: 10px 20px;
      font-size: 16px;
      text-align: center;
      text-decoration: none;
      background-color: #04AA6D;
      color: #fff;
      border: 1px solid #2980b9;
      border-radius: 5px;
      cursor: pointer;
  }